body{
    background-image: url(../Login/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient(black);
}

.p{
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    padding: 1%;
    border-radius: 10%;
    backdrop-filter: blur(8px);
    color: whitesmoke;
    background: linear-gradient(black);
}