*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(../Constrix/signin.jpg.jpeg); */
    background-image: url(../Login/sign-in.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* h4{

} */



header{
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 38%; */
    /* margin-left: 30%; */
}

select{
    width: 170px;
    background-color: rgb(44, 43, 43);
    color: rgb(195, 196, 196);
    border: none;
    outline: none;
    /* background-color: transparent; */
    border: 1px solid whitesmoke;
    
}

input{
    border: none;
    outline: none;
    background-color: rgb(44, 43, 43);
    color: rgb(195, 196, 196);
    /* background-color: transparent; */
    /* border: 1px solid whitesmoke; */
    padding: 3px;
}
input::placeholder{
    /* color: aliceblue; */
    text-transform: capitalize;
    color: rgb(195, 196, 196);
}

div {
    background-color: whitesmoke;
    padding: 8%;
    border: 1px solid black;
    border-radius: 8%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    box-shadow: 20px 7px 20px rgb(195, 196, 196);
    
   
}

a{
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
    padding: 8%;
    margin-left: 23%;    
    border-radius: 40%;
    height: 54px;
    width: 18rem;
    transition: .9s ease-in-out;
}
a:hover{
    background-color: rgb(44, 43, 43);
}

